.home__sticky-social {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 8px;
  gap: 8px;
  border-top-left-radius: var(--border-radius, 10px);
  border-bottom-left-radius: var(--border-radius, 10px);
  box-shadow: 0px 2px 40px 0px #333d8317;

  * {
    text-decoration: none;
  }
}

.home__notification {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: (--color-purple);
  color: white;
  font-size: 16px;

  figure {
    padding: 0;
    display: flex;
    align-items: center;
  }
}

.home__about-rxil {
  display: flex;
  gap: 102px;
  justify-content: center;

  h2 {
    margin-top: 8px;
  }

  .img-container {
    max-width: 542px;
    max-height: 452px;
  }

  .container-1 {
    max-width: 608px;
  }

  p {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 300;
    color: var(--color-secondary-purple);
  }

  .cta {
    margin-top: 20px;
    color: var(--color-primary);
    font-weight: 700;
    font-size: 16px;
  }
}

.home__about-treds {
  @extend .home__about-rxil;
  margin-top: 104px;
  gap: 95px;

  .container-1 {
    max-width: 608px;
  }

  p {
    margin-top: 24px;
  }

  .cta {
    margin-top: 20px;
  }
}

.home__rxil-benefits {
  background-color: #fafbff;
  margin-top: 104px;
  padding-top: 47px;
  padding-inline: 72px !important;

  .primary-title {
    text-align: center;
    text-transform: uppercase;
  }
  .secondary-title {
    margin-top: 16px;
    text-align: center;
  }
}

.home__rxil-shareholders {
  margin-top: 72px;
  padding-top: 32px;
  padding-inline: 72px;

  .primary-title {
    text-transform: uppercase;
    text-align: center;
  }

  .companies {
    display: flex;
    gap: 74px;
    margin-top: 32px;
    align-items: center;
    overflow-x: hidden;
  }
}

.home__rxil-reviews {
  margin-top: 72px;
  padding-top: 48px;
  background: linear-gradient(
      0deg,
      rgba(199, 234, 251, 0.1),
      rgba(199, 234, 251, 0.1)
    ),
    linear-gradient(0deg, #fafbff, #fafbff);

  .primary-title {
    text-align: center;
    text-transform: uppercase;
  }
  .secondary-title {
    text-align: center;
    margin-top: 16px;
  }
}

.home__rxil-news {
  margin: 120px 68px 80px 76px;

  .primary-title {
    text-align: center;
    text-transform: uppercase;
  }
  .secondary-title {
    text-align: center;
    margin-top: 16px;
  }

  .news-container {
    display: grid;
  }

  .cta {
    outline: none;
    padding: 12px 16px;
    border: 2px solid var(--color-gray);
    border-radius: var(--border-radius);
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    max-width: fit-content;
    margin-inline: auto;
    margin-top: 48px;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

.home__register {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-purple);
  color: white;

  .register-btn {
    background-color: white;
    color: var(--color-purple);
    outline: none;
    border: none;
    border-radius: var(--border-radius);
    padding: 12px 32px;
    font-weight: 700px;
  }
}
