.complaints__container {
  position: relative;
  text-align: center;

  .secondary-title {
    margin-top: 52px;
    isolation: isolate;
  }

  p {
    color: var(--color-secondary-purple);
    font-size: 20px;
    margin-top: 24px;
    isolation: isolate;
  }

  &::before {
    content: "";
    position: absolute;
    height: 294px;
    width: 100%;
    background-color: #c7eafb42;
    top: 0;
    left: 0;
  }
}

.complaints__footer {
  padding: 48px 72px;
  display: flex;
  gap: 32px;
  color: var(--color-black);
  justify-content: center;

  .secondary-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  figure {
    margin-top: 30px;
  }

  .description {
    color: var(--color-secondary-purple);
    font-size: 16px;
    margin-top: 16px;
    a {
      text-decoration: none;
      color: var(--color-primary);
    }
  }

  a.description {
    display: inline-block;
    margin-top: 16px !important;
    text-decoration: none;
  }

  .name {
    font-weight: 400;
    font-size: 20px;
    margin-top: 16px;
  }

  .wrapper {
    max-width: 632px;
  }
}
