.about__rxil {
  padding: 80px 72px;
  background: linear-gradient(
      0deg,
      rgba(199, 234, 251, 0.2),
      rgba(199, 234, 251, 0.2)
    ),
    linear-gradient(0deg, #fafbff, #fafbff);
  display: flex;
  justify-content: center;
  gap: 48px;

  .about-container {
    max-width: 658px;
    h4 {
      font-size: 32px;
      font-weight: 800;
      color: #1e2123;
    }
    p {
      margin-top: 24px;
      font-size: 20px;
      line-height: 30px;
      color: var(--color-secondary-purple);
    }
  }
}

.about__defines {
  display: flex;
  justify-content: center;
  .about-lists {
    max-width: 632px;
  }
}

.about__principles {
  margin-top: 64px;
  padding: 48px 72px;

  .primary-title {
    text-align: center;
  }

  .secondary-title {
    margin-top: 16px;
    text-align: center;
  }

  .inner-content {
    margin-top: 56px;
    display: flex;
    gap: 70px;
    display: flex;
    justify-content: center;

    .title {
      margin: 0;
      font-size: 32px;
      font-weight: 800;
      color: var(--color-primary);
    }
    .description {
      margin-top: 15px;
      font-weight: 300;
      font-size: 18px;
      color: var(--color-secondary-purple);
    }
  }
  .flex-1 {
    flex: 1;
  }
}

.about__i-care {
  padding: 48px 72px;
  display: flex;
  flex-direction: column;
  gap: 48px;

  .title {
    text-align: center;
    font-family: "Merriweather Sans", sans-serif;
    font-size: 56px;
    font-weight: 800;
    letter-spacing: 0.01em;
  }
}

.about__rxil-promoters {
  margin-top: 72px;

  .primary-title {
    margin-top: 48px;
    text-align: center;
    text-transform: uppercase;
  }

  .secondary-title {
    margin-top: 16px;
    text-align: center;
    margin-bottom: 56px;
  }

  .testimonials {
    display: flex;
    gap: 32px;

    .testimonial {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
}

.about__rxil-directors {
  margin-top: 72px;
  padding: 48px 72px;

  .primary-title {
    text-align: center;
    text-transform: uppercase;
  }
  .secondary-title {
    text-align: center;
    margin-top: 16px;
  }
}
