.contact__header {
  padding: 52px 72px;
  text-align: center;
}
.contact__header p {
  margin-top: 24px;
  font-size: 20px;
  margin-bottom: 32px;
}

.contact__relationship {
  padding-inline: 72px;
  text-align: center;
}
.contact__relationship .secondary-title {
  font-size: 26px;
}
.contact__relationship p {
  color: var(--color-secondary-purple);
  font-size: 20px;
  margin-inline: 84px;
  margin-top: 32px;
}
.contact__relationship .relationship-management {
  margin-top: 40px;
  margin-bottom: 56px;
}
.contact__relationship .relationship-management .secondary-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 32px;
}
.contact__relationship .relationship-management .direction {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  color: var(--color-orange);
  margin-bottom: 32px;
  margin-top: 56px;
  text-align: center;
}
.contact__relationship .relationship-management .west-team-container, .contact__relationship .relationship-management .east-team-container, .contact__relationship .relationship-management .north-team-container, .contact__relationship .relationship-management .south-team-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 900px) {
  .contact__relationship .relationship-management .west-team-container, .contact__relationship .relationship-management .east-team-container, .contact__relationship .relationship-management .north-team-container, .contact__relationship .relationship-management .south-team-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
}
@media (min-width: 1280px) {
  .contact__relationship .relationship-management .west-team-container, .contact__relationship .relationship-management .east-team-container, .contact__relationship .relationship-management .north-team-container, .contact__relationship .relationship-management .south-team-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
  }
}
@media (min-width: 1440px) {
  .contact__relationship .relationship-management .west-team-container, .contact__relationship .relationship-management .east-team-container, .contact__relationship .relationship-management .north-team-container, .contact__relationship .relationship-management .south-team-container {
    grid-template-columns: repeat(6, 1fr);
    gap: 32px;
  }
}
@media (min-width: 1440px) {
  .contact__relationship .relationship-management .south-team-container {
    grid-template-columns: repeat(5, 1fr);
    gap: 32px;
  }
}
@media (min-width: 1440px) {
  .contact__relationship .relationship-management .north-team-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
  }
}
@media (min-width: 1280px) {
  .contact__relationship .relationship-management .east-team-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
}
@media (min-width: 1440px) {
  .contact__relationship .relationship-management .east-team-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
}/*# sourceMappingURL=contact-us.css.map */